body {
	font-family: sans-serif;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}

.familytree-node {
	z-index: 1;
}

.card {
	margin: 0 auto;
	background: white;
	padding: 40px;
	border-top: 14px solid black;
    position: relative;
}

.card.male {
	border-top-color: blue;
}

.card.female {
	border-top-color: pink;
}

.card > :first-child {
	margin-top: 0;
	margin-bottom: 40px;
	font-size: 2em;
}

.source-ref {
    position: absolute;
    top: 10px;
    right: 14px;
}

.card li {
    line-height: 1.7;
}

@media (min-width: 840px) {
	body {
		padding-top: 80px;
	}

	.card {
		width: 600px;
		box-shadow: 0 9px 24px #aaa;
	}
}